<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Panel</h2>

<form action="/" method="post">
    <button type="submit" name ="addmed" formaction="/Addmed">Add Medicine</button>

</form>


</body>
</html>